<html>
  <head>
    <title>Aplikasi Cek Cuaca</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portait" src="/img/ELKACUP"</p>
    </div>
    {{>footer}}
  </body>
</html>