<!DOCTYPE html>
<html>
  <head>    
    <title>Aplikasi Cek Cuaca</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{teksBantuan}}</p>
    </div>
    {{>footer}}
  </body>
</html